<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.openokr.manage.sqlmapper.OkrLabelMapper">

    <!--获取目标的关联标签-->
    <select id="getObjectLabelRel" parameterType="java.util.Map" resultType="org.openokr.manage.vo.LabelVO">
        select t1.id, t1.name
        from t_okr_label t1
        left join t_okr_manage_object_label_rela t2 on t2.label_id=t1.id
        where t2.object_id= #{objectId}
    </select>

</mapper>