<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.openokr.manage.sqlmapper.OkrMapMapper">

    <!--获取公司OKR-->
    <select id="getCompanyOkrList" parameterType="java.util.Map" resultType="org.openokr.manage.vo.ObjectivesExtVO">
        select distinct t1.*,t2.name as "teamName", p.name as "parentName"
        from t_okr_manage_objectives t1
        left join t_okr_teams t2 on t2.id=t1.team_id
        left join t_okr_manage_results t4 on t4.object_id=t1.id and t4.del_flag='0'
        left join t_okr_manage_objectives p on p.id = t1.parent_id
        where t1.del_flag='0' and t1.type='3'/* and t2.type='1' */
        <if test="keyword != null and keyword != ''">
            AND (
               t1.name LIKE CONCAT('%', #{keyword}, '%')
            or t1.description LIKE CONCAT('%', #{keyword}, '%')
            or t4.name LIKE CONCAT('%', #{keyword}, '%')
            or t4.description LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>
        <if test="executeStatus != null and !executeStatus.isEmpty()">
            AND t4.status = #{executeStatus}
        </if>
        <if test="objectId != null and !objectId.isEmpty()">
            AND t1.id = #{objectId}
        </if>
        <if test="timeSessionId != null and timeSessionId != ''">
            and t1.time_session_id = #{timeSessionId}
        </if>
        order by t1.create_ts desc
    </select>

    <!--获取子目标-->
    <select id="getChildrenOkrList" parameterType="java.util.Map" resultType="org.openokr.manage.vo.ObjectivesExtVO">
        select distinct c.*, t1.name as "parentName"
        from t_okr_manage_objectives t1
        left join t_okr_manage_objectives c on c.parent_id = t1.id
        left join t_okr_manage_results t2 on t2.object_id=c.id and t2.del_flag='0'
        where t1.del_flag='0' and t1.id=#{objectId} and c.status='3'
        order by c.create_ts desc
    </select>

</mapper>