<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.openokr.manage.sqlmapper.OkrResultMapper">

    <!--获取KR的参与人员-->
    <select id="getJoinUsersByResultId" parameterType="java.util.Map" resultType="org.openokr.sys.vo.UserVO">
        select distinct t4.id ,t4.user_name, t4.real_name
        from t_okr_manage_results t2
        left join t_okr_manage_result_user_rela t3 on t3.result_id =t2.id
        left join t_okr_sys_user t4 on t4.id = t3.user_id
        where t2.id=#{resultId} and t2.del_flag='0'
        order by t4.user_name
        <if test="limitAmount != null and limitAmount != ''">
            limit #{limitAmount}
        </if>
    </select>


</mapper>