<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.openokr.manage.sqlmapper.OkrResultMapper">

    <!--获取KR的参与人员-->
    <select id="getJoinUsersByResultId" parameterType="java.util.Map" resultType="org.openokr.sys.vo.UserVO">
        select distinct t4.id ,t4.user_name, t4.real_name
        from t_okr_manage_results t2
        left join t_okr_manage_result_user_rela t3 on t3.result_id =t2.id
        left join t_okr_sys_user t4 on t4.id = t3.user_id
        where t2.id=#{resultId} and t2.del_flag='0'
        order by t4.user_name
        <if test="limitAmount != null and limitAmount != ''">
            limit #{limitAmount}
        </if>
    </select>

    <select id="findCheckinList" parameterType="java.util.Map" resultType="org.openokr.manage.vo.CheckinsExtVO">
        select t1.id, t1.result_id, t1.current_value, t1.status, t1.description, t1.create_ts, t1.metric_unit,
        t2.name as "resultName"
        from t_okr_manage_checkins t1
        left join t_okr_manage_results t2 on t2.id = t1.result_id
        where 1 = 1 and t1.result_id in
        <foreach collection="resultIds" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
        order by t1.create_ts desc
    </select>

    <select id="getIdxById" parameterType="java.util.Map" resultType="java.lang.Integer">
        select rownum from
        (select row_number() over (order by create_ts) as rownum, id from t_okr_manage_results where object_id = #{objectId}) a
        where id = #{id}
    </select>

</mapper>