<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.openokr.manage.sqlmapper.OkrTeamMapper">

    <!--获取团队信息-->
    <select id="getTeamByUserId" parameterType="java.util.Map" resultType="org.openokr.manage.vo.TeamsExtVO">
        select t1.id, t1.name,t1.type,
        (case when t1.owner_id = #{userId} then 1 else 0 end) as editFlag
        from t_okr_teams t1
        left join t_okr_team_user_rela t2 on t2.team_id=t1.id
        where t2.user_id= #{userId}
    </select>

    <!--获取目标的影响团队信息-->
    <select id="getObjectTeamRel" parameterType="java.util.Map" resultType="org.openokr.manage.vo.TeamsVO">
        select t1.id, t1.name
        from t_okr_teams t1
        left join t_okr_manage_object_team_rela t2 on t2.team_id=t1.id
        where t2.object_id= #{objectId}
    </select>

</mapper>