<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.openokr.sys.sqlmapper.UserMapper">

    <!-- 查询数量 -->
    <select id="countFindByPageLikeInputValue" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1)
        FROM t_okr_sys_user t1
        left join t_okr_sys_organization t2 on t2.id = t1.organization_id
        left join t_okr_sys_user_role t3 on t3.user_id = t1.id
        left join t_okr_sys_role t4 on t4.id = t3.role_id
        where 1 = 1
        <if test="inputValue != null and !inputValue.isEmpty() ">
            AND (t1.user_name LIKE #{inputValue} or t1.real_name LIKE #{inputValue} or t1.phone LIKE #{inputValue})
        </if>
    </select>

    <!-- 分页查询 -->
    <select id="findByPageLikeInputValue" parameterType="java.util.Map" resultType="org.openokr.sys.vo.UserVOExt">
        SELECT t1.id,
        t1.create_time,
        t1.password,
        t1.salt,
        t1.active,
        t1.user_name,
        t1.email,
        t1.real_name,
        t1.phone,
        t1.organization_id,
        t2.name as "organizationName",
        t2.code as "organizationCode",
        t4.id as "roleId",
        t4.name as "roleName"
        FROM t_okr_sys_user t1
        left join t_okr_sys_organization t2 on t2.id = t1.organization_id
        left join t_okr_sys_user_role t3 on t3.user_id = t1.id
        left join t_okr_sys_role t4 on t4.id = t3.role_id
        where 1 = 1
        <if test="inputValue != null and !inputValue.isEmpty() ">
            AND (t1.user_name LIKE #{inputValue} or t1.real_name LIKE #{inputValue} or t1.phone LIKE #{inputValue})
        </if>
        order by t1.user_name
        <if test="page != null">
            limit #{page.pageSize} offset (#{page.recordStart}-1)
        </if>
    </select>

    <!-- 获取团队负责人 -->
    <select id="getTeamOwnerUserByTeamId" resultType="org.openokr.sys.vo.UserVOExt">
        select t1.id,
        t1.create_time,
        t1.password,
        t1.salt,
        t1.active,
        t1.user_name,
        t1.email,
        t1.real_name,
        t1.phone,
        t1.organization_id
        from t_okr_sys_user t1
        left join t_okr_teams t2 on t2.owner_id = t1.id
        where t2.id = #{teamId}
    </select>

    <select id="selectUserDeptInfoList" parameterType="java.util.Map" resultType="org.openokr.sys.vo.request.UserSelectOgrVO">
        select distinct t1.organization_id deptId, t2."name" deptName
        from t_okr_sys_user t1
        INNER JOIN t_okr_sys_organization t2 on t1.organization_id = t2.id
    </select>

    <select id="selectUserInfoListByDeptId" parameterType="java.util.Map" resultType="org.openokr.sys.vo.request.UserSelectUserVO">
        select distinct t1.id userId, t1."real_name" userName
        from t_okr_sys_user t1
        where t1.organization_id = #{orgId}
    </select>

    <select id="selectTaskUserInfoList" parameterType="java.util.Map" resultType="org.openokr.task.vo.TaskUserInfoVO">
        select distinct t1.id, t1."real_name" realName
        from t_okr_sys_user t1
        inner join t_okr_task_user_rel t2 on t1.id = t2.user_id
        where t2.task_id = #{taskId}
    </select>


    <select id="getUserListByCondition" parameterType="java.util.Map" resultType="org.openokr.sys.vo.UserVO">
        SELECT
        t1.ID,
        user_name
        FROM
        t_okr_sys_user t1
        LEFT JOIN t_okr_sys_user_role t2 ON t1.ID = t2.user_id
        WHERE 1 = 1
        <if test="roleId != null and !roleId.isEmpty()">
          and  t2.role_id = #{roleId}
        </if>
        <if test="orgId != null and !orgId.isEmpty()" >
            and t1.organization_id = #{orgId}
        </if>
    </select>

    <select id="getUserRole" parameterType="java.util.Map" resultType="org.openokr.sys.vo.UserVO">
        SELECT
            osu.id
        ,osu.user_name
        ,osu.email
        ,osu.real_name
        ,osu.phone
        ,osu.organization_id
        ,osu.photo_url
        ,osu.active
        ,osr.id role_id
        ,osr.name role_name
        ,osr.role_type
        FROM
            t_okr_sys_user osu
        LEFT JOIN t_okr_sys_user_role osur on osu.id = osur.user_id
        LEFT join t_okr_sys_role osr on osur.role_id = osr.id
        <if test="userId != null and !userId.isEmpty() ">
            where osu.id = #{userId}
        </if>
    </select>


</mapper>