<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.openokr.task.sqlmapper.DailyMapper">
    <resultMap id="BaseResultMap" type="org.openokr.task.vo.DailyVO"
        extends="org.openokr.task.entity.DailyEntityMapper.BaseResultMap">
    </resultMap>
    <sql id="Base_Column_List">
        id, report_user_id, task_id, report_day, duration, remark, create_user_id, create_ts,
        update_user_id, update_ts
    </sql>

    <sql id="pageCondition">
        SELECT
        t1.ID,
        t1.report_user_id,
        t1.task_id,
        t1.report_day,
        t1.duration,
        t1.remark,
        t1.audit_status,
        t1.create_user_id,
        t1.create_ts,
        t1.update_user_id,
        t1.update_ts,
        t2.task_name
        ,ot2.id team_id
        ,ot2.name team_name
        ,(case WHEN (t3.real_name is not NULL) then t3.real_name else t3.user_name end) report_user_name
        FROM t_okr_daily t1
        LEFT JOIN t_okr_task t2 ON t1.task_id = t2.id
        LEFT JOIN T_OKR_TEAMS ot2 ON ot2.id = t2.belong_team
        LEFT JOIN t_okr_sys_user t3 ON t3.id = t1.report_user_id
        WHERE
            1 = 1
        <if test="condition.reportDayStr != null and condition.reportDayStr != ''" >
            AND to_char(t1.report_day,'yyyy-MM-dd') = #{condition.reportDayStr}
        </if>
        <if test="condition.reportUserId != null and condition.reportUserId != ''" >
            AND t1.report_user_id = #{condition.reportUserId}
        </if>
        <if test="(condition.reportUserId == null or condition.reportUserId == '') and condition.reportUserIdList !=null and condition.reportUserIdList.size()>0" >
            AND t1.report_user_id in
            <foreach collection="condition.reportUserIdList" item="userId" open="(" separator="," close=")">
               #{userId}
            </foreach>

        </if>
        <if test="condition.taskId != null and condition.taskId != ''" >
            AND t1.task_id = #{condition.taskId}
        </if>
        <if test="condition.reportStartDayStr != null and condition.reportStartDayStr != ''
                    and condition.reportEndDayStr != null and condition.reportEndDayStr != ''" >
            AND to_char(t1.report_day,'yyyy-MM-dd') BETWEEN #{condition.reportStartDayStr} AND #{condition.reportEndDayStr}
        </if>
        <if test="condition.teamId != null and condition.teamId != '' " >
            AND ot2.id = #{condition.teamId}
        </if>
        <if test="condition.searchKey != null and condition.searchKey != '' " >
            AND t2.task_name like CONCAT ('%', #{condition.searchKey}, '%')

        </if>
        ORDER BY t1.report_day DESC ,t1.update_ts DESC
    </sql>

    <select id="countDailyList" resultType="Integer" parameterType="HashMap">
        SELECT count(1) from (
        <include refid="pageCondition" />)tx
    </select>
    
    <select id="getDailyList" resultType="org.openokr.task.vo.DailyVO" parameterType="HashMap">
        <include refid="pageCondition"/>
        <include refid="PostgreSqlPaginationSuffix"/>
    </select>
    
    <sql id="PostgreSqlPaginationSuffix">
        <if test="page != null">
            <![CDATA[ limit #{page.pageSize} offset #{page.recordStartPrev} ]]>
        </if>
    </sql>

    <!--统计任务占用总工时-->
    <select id="getTotalWorkingHoursByTaskId" parameterType="java.util.Map" resultType="java.math.BigDecimal">
        select COALESCE(sum(COALESCE(t1.duration,0)),0) from
        t_okr_daily t1
        where t1.task_id = #{taskId}
  </select>
</mapper>