<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.openokr.task.sqlmapper.DailyMapper">
    <resultMap id="BaseResultMap" type="org.openokr.task.vo.DailyVO"
        extends="org.openokr.task.entity.DailyEntityMapper.BaseResultMap">
    </resultMap>
    <sql id="Base_Column_List">
        id, report_user_id, task_id, report_day, duration, remark, create_user_id, create_ts,
        update_user_id, update_ts
    </sql>
    
    <select id="getDailyList" resultType="org.openokr.task.vo.DailyVO" parameterType="HashMap">
        SELECT
            t1.id,
            t1.report_user_id,
            t1.task_id,
            t1.report_day,
            t1.duration,
            t1.remark,
            t1.create_user_id,
            t1.create_ts,
            t1.update_user_id,
            t1.update_ts
        FROM t_okr_daily t1
        WHERE
            1 = 1
        <if test="condition.reportDayStr != null and condition.reportDayStr != ''" >
            AND to_char(t1.report_day,'yyyy-MM-dd') = #{condition.reportDayStr}
        </if>
        <if test="condition.reportUserId != null and condition.reportUserId != ''" >
            AND t1.report_user_id = #{condition.reportUserId}
        </if>
        <if test="condition.taskId != null and condition.taskId != ''" >
            AND t1.task_id = #{condition.taskId}
        </if>
    </select>
    
    <sql id="PostgreSqlPaginationSuffix">
        <if test="page != null">
            <![CDATA[ limit #{page.pageSize} offset #{page.recordStartPrev} ]]>
        </if>
    </sql>
</mapper>