<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.openokr.task.sqlmapper.WeeklyStaMapper">

    <select id="getStatisticByTask" parameterType="HashMap" resultType="org.openokr.task.vo.WeeklyStatisticVO">
        <![CDATA[
        SELECT
            t1. ID org_id,
            t1. NAME org_name,
            COALESCE (
                SUM (
                    t3.duration * t5.apportion_rate / 100
                ),
                0
            ) duration
        FROM
            t_okr_sys_organization t1
        INNER JOIN t_okr_sys_user t2 ON t1. ID = t2.organization_id
        LEFT JOIN t_okr_daily t3 ON t3.report_user_id = t2. ID
            AND to_char(t3.report_day, 'yyyy-MM-dd') >= #{condition.reportStartDateStr}
            AND to_char(t3.report_day, 'yyyy-MM-dd') <= #{condition.reportEndDateStr}
        LEFT JOIN t_okr_task t4 ON t4. ID = t3.task_id
        LEFT JOIN t_okr_task_apportion t5 ON t5.task_id = t4. ID
        AND t5.category_id = #{condition.categoryId}
        WHERE
            t4.belong_team = #{condition.teamId}
        GROUP BY
            t1. ID
        ORDER BY
            duration DESC
        ]]>
    </select>

    <select id="getWeeklyPieByTask" parameterType="HashMap" resultType="org.openokr.task.vo.WeeklyStatisticVO">
        <![CDATA[
        ]]>
    </select>

    <select id="getStatisticByOrg" parameterType="HashMap" resultType="org.openokr.task.vo.WeeklyStatisticVO">
        <![CDATA[
        SELECT
            t1. ID org_id,
            t1. NAME org_name,
            COALESCE (
                SUM (
                    t3.duration * t5.apportion_rate / 100
                ),
                0
            ) duration
        FROM
            t_okr_sys_organization t1
        INNER JOIN t_okr_sys_user t2 ON t1. ID = t2.organization_id
        LEFT JOIN t_okr_daily t3 ON t3.report_user_id = t2. ID
        AND to_char(t3.report_day, 'yyyy-MM-dd') >= #{condition.reportStartDateStr}
        AND to_char(t3.report_day, 'yyyy-MM-dd') <= #{condition.reportEndDateStr}
        LEFT JOIN t_okr_task t4 ON t4. ID = t3.task_id
        LEFT JOIN t_okr_task_apportion t5 ON t5.task_id = t4. ID
        AND t5.category_id = #{condition.categoryId}
        WHERE
            t4.belong_team = #{condition.teamId}
        GROUP BY
            t1. ID
        ORDER BY
            duration DESC
        ]]>
    </select>

    <select id="getWeeklyPieByOrg" parameterType="HashMap" resultType="org.openokr.task.vo.WeeklyStatisticVO">
        <![CDATA[
        ]]>
    </select>
</mapper>