@charset "utf-8";
/*login*/

/*table*/
.table1 {
    width: 100%;
    color: #000;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}

.table1 th {
    position: relative;
    padding: 0px 12px;
    height: 40px;
    background: #fff;
    font-size: 14px;
    color: #000;
    text-align: left;
    white-space: nowrap;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
}
.table1 th:after {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 20px;
    background-color: #e5e5e5;
}
.table1 .h-none th {
    padding: 0;
    height: 0;
    overflow: hidden;
    font-size: 0px;
    border-bottom: none;
}
.table1 th.bg-gray{
    background: #ddf7f5;
}
.table1.has-bd td{
    border-left:1px solid #e5e5e5;
}
.table1 td {
    padding: 0px 10px;
    height: 35px;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table1 td.odd,
.table1 .odd td { background-color: #f5f5f5}
.table1 td .iconfont:hover { color: #29d1c9; }
.table1 .first {
    padding-left: 8px;
    padding-right: 8px;
}
.table1 td.first{text-align: center;}
.table1 tbody tr:hover{ background: #f3fbff;}

/*工作台*/
.card-box{ overflow: hidden; }
.card-title{ height: 32px; }
.card-title.uil{
    padding: 0 10px;
}
.card-title .em-radio2{ margin-top: 8px; }
.card-title .title{
    line-height: 32px;
    color: #545454;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    vertical-align: top;
}
[class*="card-area"] {
    position: relative;
    overflow: hidden;
}
.card-area4,
.card-area3 ,
.card-area2 {
    background-color: #fff;
    border-radius: 3px;
}
.card-area3 { padding: 18px 20px; }
.card-area4 { padding: 0 20px; }
.has-shadow {
    box-shadow:  0 0 8px #f1f2f6 ;
}
.card-header {
    margin-bottom: 10px;
    border-bottom: 1px solid #f3f3f3;
}
.card-header.uil { padding: 22px 0; }
.card-header.ui-st1 {
    position: relative;
    min-height: 65px;
    padding: 22px 80px 0 65px ;
    border-bottom: 1px dashed #f3f3f3;
}
.card-header.ui-st1 .em-radio {
    position: absolute;
    left: 0;
    top: 22px;
}
.card-header.ui-st1 h4 {
    font-size: 16px;
    line-height: 30px;
    color: #545454;
}
.card-header.ui-st1 p {
    font-size: 12px;
    line-height: 20px;
    color: #a8a8a8;
}
.card-header.ui-st1 .action {
    position: absolute;
    right: 0;
    top: 22px;
}
.card-con {
    min-height: 400px;
}
.card-footer {
    overflow: hidden;
    margin: 0 30px;
    padding: 15px 0;
    border-top: 1px solid #f3f3f3;
}
.card-area4 .card-footer { margin: 10px 0 0}
.cart-tag {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    padding: 0 10px 0 12px;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    color: #4c84ff;
    background-color: #edf2ff;
    border-radius: 0 0 0 15px;
}
.area-report {
    height: 162px;
    padding: 22px 124px 0 17px;
}
.area-report h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 32px;
    color: #212121;
}
.area-report p {
    height: 40px;
    overflow: hidden;
    font-size: 13px;
    line-height: 20px;
    color: #999;
}
.participant { margin-top: 18px; }
.participant .name {
    display: block;
    font-size: 12px;
    line-height: 20px;
    color: #c4c4c4;
}
.part-item {
    position: relative;
}
.participant-list .part-item {
    float: left;
    display: inline;
    margin: 4px 6px 0 0 ;
}
.operation .part-item .icon-close { display: block}
.part-item .icon-close {
    display: none;
    position: absolute;
    right: 0;
    top: -3px;
    font-size: 14px;
    color: #ff5213;
    cursor: pointer;
}
.part-item>a,
.part-item>span {
    position: relative;
    display: block;
    width: 26px;
    height: 26px;
    overflow: hidden;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: #4c84ff;
}
.part-item img { display: block; width: 100%; height: 100%}
.part-item.edit .icon-upload {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0,0,0,.7);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.part-item.edit .icon-upload:before {
    display: block;
    margin: 14px auto 0;
    font-size: 28px;
    line-height: 30px;
}
.part-item.edit input {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: 3;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.participant.ui-l {
    margin-bottom: 15px;
    margin-top: 8px;
}
.participant.ui-l .participant-list {
    position: relative;
    height: 198px;
    overflow: hidden;
}

.participant.ui-l .name {
    font-size: 14px;
    font-weight: bold;
    color: #545454;
}
.participant.ui-l .part-item {
    width: 51px;
    height: 62px;
    margin: 4px 1px 0 ;
}
.participant.ui-l .part-item>a,
.participant.ui-l .part-item>span {
    width: 36px;
    height: 36px;
    font-size: 12px;
    line-height: 36px;
    margin: 0 auto;
    overflow: hidden;
    color: #fff;
    background-color: #4c84ff;
}
.part-add>a,
.part-add>span {
    font-size: 16px!important;
    font-weight: bold;
    margin: 0 auto;
    color: #4c84ff!important;
    background-color: #e2ebff!important;
}
.participant.ui-l .part-item>strong {
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 26px;

    text-align: center;
    color: #707070;
    text-overflow: ellipsis;white-space: nowrap;overflow: hidden;
}

.part-item.ui-mx {
    width: 62px;
    min-height: 62px;
    margin: 4px 1px 0 ;
}
.part-item.ui-mx>a,
.part-item.ui-mx>span {
    width: 62px;
    height: 62px;
    font-size: 12px;
    line-height: 62px;
    margin: 0 auto;
    overflow: hidden;
    color: #fff;
    background-color: #4c84ff;
}

.part-item.ui-x {
    width: 88px;
    min-height: 88px;
    margin: 4px 1px 0 ;
}
.part-item.ui-x>a,
.part-item.ui-x>span {
    width: 88px;
    height: 88px;
    font-size: 26px;
    line-height: 88px;
    margin: 0 auto;
    overflow: hidden;
    color: #fff;
    background-color: #4c84ff;
}

.area-charts {
    position: absolute;
    right: 0;
    top: 0;
    width: 124px;
    height: 100%;
}
.area-charts .charts-total {
    position: absolute;
    left: 50%;
    top: 50%;
    margin:  -33px 0 0 -33px;
    width: 66px;
    height: 66px;
    font-size: 22px;
    line-height: 66px;
    text-align: center;
    color: #212121;
    background-color: #fff;
    border-radius: 50%;
}

.new-list li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid #ebebeb;
    -webkit-transition: all .22s  ease-out;
    -moz-transition: all .22s  ease-out;
    -ms-transition: all .22s  ease-out;
    -o-transition: all .22s  ease-out;
    transition: all .2s  ease-out;
}
.new-list li:first-child { border-top-color: transparent; }
.new-list .new-item{
    position: relative;
    z-index: 2;
    display: block;
    height: 48px;
    padding: 10px 110px 10px 28px;
    font-size: 12px;
    line-height: 24px;
    color: #707070;
    -webkit-transition: all .22s  ease-out;
    -moz-transition: all .22s  ease-out;
    -ms-transition: all .22s  ease-out;
    -o-transition: all .22s  ease-out;
    transition: all .2s  ease-out;
}
.new-list .new-item>.iconfont{
    position: absolute;
    top: 13px;
    left: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    -webkit-transition: left .22s  ease-out;
    -moz-transition: left .22s  ease-out;
    -ms-transition: left .22s  ease-out;
    -o-transition: left .22s  ease-out;
    transition: left .2s  ease-out;
}
.new-list .new-item .action {
    position: absolute;
    right: 0;
    top: 22px;
    text-align: right;
    height: 24px;
    -webkit-transition: right .22s  ease-out;
    -moz-transition: right .22s  ease-out;
    -ms-transition: right .22s  ease-out;
    -o-transition: right .22s  ease-out;
    transition: right .2s  ease-out;
}
.new-list .new-item .action .iconfont {
    display: inline-block;
    margin-left: 3px;
    color:#5e5e5e ;
    -webkit-transition: all .12s  ease-out;
    -moz-transition: all .12s  ease-out;
    -ms-transition: all .12s  ease-out;
    -o-transition: all .12s  ease-out;
    transition: all .12s  ease-out;
}
.new-list .new-item h4 {
    height: 26px;
    font-size: 14px;
    line-height: 26px;
    color: #212121;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.new-list .new-item p {
    height: 24px;
    color: #707070;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.new-list li:hover {
    margin: 0 -10px;
}

.new-list li:hover .new-item {
    padding: 10px 120px 10px 38px;
    border-radius: 4px;
}
.ui-other li .new-item { background-color: #fff;}

.new-list.ui-other li .new-item>.iconfont,
.new-list li:hover .new-item>.iconfont {
    left: 10px;
}
.new-list.ui-other li .new-item> .action
.new-list li:hover .new-item> .action {
    right: 10px;
}
.new-list.ui-other li {
    padding: 0!important;
    margin: 0 0 10px;
    border-top: none;
    background-color: #fff;
    border-radius: 3px;
}
.new-list.ui-other li:hover .new-item,
.new-list.ui-other li .new-item { padding-left:  50px; }
.new-list.ui-other li .new-item>.iconfont { left:22px; }
.new-list.ui-other li .new-item> .action { right: 14px;}
.new-list.ui-other .icon-arrowR:before { content: "\e6ac"}
.new-list.ui-other .new-item:hover .icon-arrowR {
    font-size: 18px;
    cursor: pointer;
}
.new-list.ui-other .new-item .icon-arrowR:hover { color: #4c84ff;}
.new-list.ui-other li.active .icon-arrowR{
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.new-list .new-other {
    margin: 0 30px;
    padding: 15px 20px;
    font-size: 13px;
    line-height: 24px;
    color: #707070;
    border-top: 1px solid #f3f3f3;
}
.okr-header {
    position: relative;
    padding: 20px 350px 10px 106px;
}
.okr-header .area-charts {
    left: 20px;
    right: auto;
    width: 86px;
    height: 106px;
}
.okr-header .area-charts .charts-total {
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    font-size: 16px;
    line-height: 40px;
    border-radius: 50%;
}
.okr-header .okr-header-desc {}
.okr-header .name {
    display: inline-block;
    max-width: 100%;
    font-size: 18px;
    font-weight: bold;;
    line-height: 38px;
    color: #212121;
}
.okr-header .okr-header-desc p {
    font-size: 13px;
    line-height: 20px;
    color: #a8a8a8;
}
.okr-header .action {
    margin-left: 20px;
    font-weight: normal;
}
.okr-header .action .em-start {
    margin-top: 4px;
    margin-right: 10px;
}
.okr-header .action .btn-del ,
.okr-header .action .btn-edit  { vertical-align: top; }
.okr-header .desc {
    position: absolute;
    right: 30px;
    top: 20px;
    width: 350px;
    text-align: right;
}
.okr-header .desc .txt-item { margin-top: 4px; }
.okr-con {
    margin: 0 30px 20px 106px ;
    border-top: 1px solid #f3f3f3;
}
.okr-list {
    margin: 15px -30px 0  -106px ;
    background: url("../images/all/okr-list-bg.jpg") repeat-y right 0;
}
.okr-list>li {
    position: relative;
    width: 100%;
    padding: 7px 554px 7px 108px;
    box-sizing: border-box;
    -webkit-transition: all .12s  ease-out;
    -moz-transition: all .12s  ease-out;
    -ms-transition: all .12s  ease-out;
    -o-transition: all .12s  ease-out;
    transition: all .12s  ease-out;
}
.okr-list li .em-start {
    position: absolute;
    left: 106px;
    top: 7px;
}
.okr-list-in {
    display: inline-block;
    max-width: 100%;
}

.okr-list-in  .participant {
    display: none;
    margin: 0;
}
.okr-list-in  .participant .name{
    display: inline-block;
    line-height: 30px;
    vertical-align: top;
}
.okr-list-in  .participant .participant-list{
    display: inline-block;
    vertical-align: top;
}

.okr-list-in  h4 {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;;
    line-height: 28px;
    color: #212121;
}
.okr-list-in .action {
    float: right;
    margin-left: 20px;
    font-weight: normal;
}
.okr-list-in .action .txt-all {
    margin-top: 2px;
}
.okr-list-desc .action .txt-all { margin-top: -3px; }
.okr-list-tab {
    position: absolute;
    right: 0;
    top: 0;
    width: 544px;
}
.okr-list-tab .scroll-bar {
    position: relative;
    display: inline-block;
    width: 254px;
    height: 14px;
    margin-top: 14px;
}
.okr-list-tab .scroll-bar .complete {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 0;
    height: 14px;
    background-color: #6199fa;
    -webkit-transition: all .48s  ease-out;
    -moz-transition: all .48s  ease-out;
    -ms-transition: all .48s  ease-out;
    -o-transition: all .48s  ease-out;
    transition: all .48s  ease-out;
    border-radius: 2px;
}
.okr-list-tab .scroll-bar .new {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    display: inline-block;
    width: 0;
    height: 14px;
    background-color: #6adaff;
    -webkit-transition: all .48s  ease-out;
    -moz-transition: all .48s  ease-out;
    -ms-transition: all .48s  ease-out;
    -o-transition: all .48s  ease-out;
    transition: all .48s  ease-out;
    border-radius: 2px;
}
.okr-list-tab .scroll-bar .vals {
    position: absolute;
    right: -40px;
    top: 0;
    font-size: 12px;
    line-height: 14px;
    color: #999;
}
.okr-list-tab .action {
    visibility: hidden;
    margin: 18px 10px ;
    -webkit-transition: all .08s  ease-out;
    -moz-transition: all .08s  ease-out;
    -ms-transition: all .08s  ease-out;
    -o-transition: all .08s  ease-out;
    transition: all .08s  ease-out;
}
.okr-list-tab .action>a { margin: 0 6px; }
.okr-list>li:hover .okr-list-tab .action { visibility: visible; }
/*.okr-list>li:hover .participant { display: block;}*/
.okr-list>li:hover { background-color: rgba(76,132,255,.05) ; }
.okr-ohter {
    padding: 10px 0 0 0;
}

/*历史操作记录*/
.area-process {
    margin: 20px 0 0 168px;
}
.area-process-li {
    position: relative;
    min-height: 54px;
    padding: 12px 20px 0 26px;
    line-height: 22px;
    border-left: 1px solid #ebebef;
}
.area-process-li:last-child {
    min-height: 78px;
}
.area-process-li .area-process-date {
    position: absolute;
    left: -168px;
    top: 14px;
    width: 136px;
    text-align: right;
}
.area-process-li .area-process-con h4 {
    position: relative;
    font-size: 12px;
    font-weight: bold;
    color: #545454;
}
.area-process-li.past .area-process-em ,
.area-process-li.active .area-process-em { color: #4c84ff; }
.area-process-li.active .area-process-em:after{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 24px;
    height: 24px;
    margin: -12px 0 0 -12px;
    background-color: #4c84ff;
    border-radius: 50%;
    opacity: .1;
    -webkit-animation: scaleForEver 2s linear infinite;
    -moz-animation: scaleForEver 2s linear infinite;
    -o-animation: scaleForEver 2s linear infinite;
    animation: scaleForEver 2s linear infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}
.area-process-em {
    position: absolute;
    left: -8px;
    top: 18px;
    z-index: 2;
    display: block;
    width: 14px;
    height: 14px;
    font-size: 14px;
    text-align: center;
    font-family: "iconfont";
    font-style: normal;
    line-height: 14px;
    color: #ebebef;
}
.area-process-em:before { content: "\e6e0"; }
.area-process-con {
    font-size: 12px;
    color: #545454;
}

/*拖动工具*/
.drag-bar{
    position: relative;
    width: 266px;
    height: 6px;
    margin: 13px 0 13px 46px;
    background: #e3e4ea;
    border-radius: 3px;
}
.drag-hand{
    width: 6px;
    height: 6px;
    background: #fff;
    border: 7px solid #8daff9;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    left: 0;
    cursor: pointer;
}
.drag-hand:hover:before{ display: none; }
.drag-hand:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 24px;
    height: 24px;
    margin: -14px 0 0 -14px;
    background-color: #fff;
    border: 2px solid #4c84ff;
    border-radius: 50%;
    opacity: .2;
    -webkit-animation: scaleForEver2 2s linear infinite;
    -moz-animation: scaleForEver2 2s linear infinite;
    -o-animation: scaleForEver2 2s linear infinite;
    animation: scaleForEver2 2s linear infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}
.drag-past{
    position: absolute;
    left: 0;
    top: 0;
    background: #4c84ff; /* Old browsers */
    background: -moz-linear-gradient(left, #4c84ff 0%, #8daff9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #4c84ff 0%,#8daff9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #4c84ff 0%,#8daff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c84ff', endColorstr='#8daff9',GradientType=1 ); /* IE6-9 */
    width: 0;
    height: 6px;
    border-radius: 3px 0 0 3px;
}

.drag-num {
    position: absolute;
    left: -46px;
    top: -15px;
    line-height: 32px;
    font-size: 18px;
    vertical-align: top;
    color: #4c84ff;
}
/*进度条*/
/*步骤条*/
.step-bar {
    width: 500px;
    margin: 25px auto 50px;
}
.step-col2 { width: 206px; }
.step-bar li {
    float: left;
    position: relative;
    width: 250px;
    padding-top: 10px;
    font-size: 12px;
    line-height: 22px;
    color: #bdbdbd;
    border-bottom:2px solid #e5e5e5;
}
.step-bar li .step-radio {
    position: absolute;
    top: -1px;
    left: -40px;
    display: inline-block;
    width: 80px;
    text-align: center;
}
.step-bar li strong  {
    display: block;
    height: 24px;
    margin-bottom: 3px;
    color: #bdbdbd;
}
.step-bar li .iconfont {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    color: #e5e5e5;
    background-color: #f5f5f5;
    border-radius: 50%;
    box-shadow: 0 2px 3px #ecf4fb;
}
.step-bar li .iconfont:before{ content: "\e630"; }
.step-bar li .txt {
    display: block;
    margin-top: 4px;
    text-align: center;
    font-size: 12px;

}
.step-bar li.last.active,
.step-bar li.last {
    width: 0;
    border-bottom-color: transparent;
}
.step-bar li.past,
.step-bar li.active {
    color: #333;
    border-color: #0090ff;
    box-shadow: 0 4px 16px #ebf4fb;
}
.step-bar li.past .iconfont,
.step-bar li.next .iconfont,
.step-bar li.active .iconfont { box-shadow: 0 4px 16px #ebf4fb;}
.step-bar li.first strong,
.step-bar li.past strong,
.step-bar li.past .iconfont,
.step-bar li.next .iconfont,
.step-bar li.active strong { color: #0090ff; }
.step-bar li.next .iconfont:before { content: "\e6e0"}
.step-bar li.first .iconfont:before,
.step-bar li.active .iconfont:before,
.step-bar li.past .iconfont:before { content: "\e610"; }
.step-bar li.first { color: #333; }

/*树操作节点*/
.tree-info{position:relative; padding: 6px; }
.tree-title{line-height:30px;height:30px;color:#000;font-size:14px;font-weight:bold;margin-bottom:5px;}
.tree-info>.fl,
.tree-info>.fr { width:228px; }
.tree-info-item {
    float: left;
    width: 200px;
    margin-right: 8px;
}
.tree-info-item.ui-off {
    width: 46%;
}
.tree-btn+.tree-info-item { float: right}
.tree-info-item:last-child { margin-right: 0; }
.tree-box{
    width:100%;
    height:320px;
    background: #fff;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
}
.tree-box .search {
    display: block;
    width: auto;
    margin: -1px -1px  0 -1px;
    border-radius: 0;
}
.tree-box .tree-con{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.tree-btn{
    position:absolute;
    top:50%;
    left:50%;
    width:34px;
    margin-left:-17px;
    text-align:center;
}
.tree-btn .iconfont {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: -3px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    background-color: #707070;
}
.tree-btn .iconfont:hover { background-color: #008dff }
.demo-anima {
    width: 330px;
    height: 200px;
    margin: 0 auto;
    -webkit-transition: all 1s  ease-out;
    -moz-transition:all 1s  ease-out;
    -ms-transition:all 1s  ease-out;
    -o-transition: all 1s  ease-out;
    transition:all 1s  ease-out;
}
.demo-anima-header {
    padding: 0 15px;
    height: 42px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 42px;
    text-align: left;
    color: #b2b2b2;
    letter-spacing:4px;
    background-color: #ebebeb;
    border-radius: 4px;
}
.demo-anima-con {
    width: 0;
    overflow: hidden;
    height: 148px;
    padding:  20px  0 0 30px;
    background-color: #ebebeb;
    border-radius: 4px;
    opacity: 0;
    box-sizing: border-box;
    -webkit-transition: all 1s  ease-out;
    -moz-transition:all 1s  ease-out;
    -ms-transition:all 1s  ease-out;
    -o-transition: all 1s  ease-out;
    transition:all 1s  ease-out;
}
.demo-anima-con i {
    display: none;
    float: left;
    width: 43px;
    height: 43px;
    margin-bottom:20px ;
    margin-right: 31px;
    background: url("../images/all/user-none.png") no-repeat 0 0;
}
.login-body {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #edf2f9;
}
.login {
    position: relative;
    display: inline-block;
    max-width: 1360px;
    min-width: 1100px;
    min-height: 616px;
    width: 100%;
    height: 100%;
    background: url("../images/all/login-bg.jpg") no-repeat 50% 50%;
}
.login-out {
    position: relative;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
.login-out .logo {
    position: absolute;
    left: 0;top: 0;
    z-index: 2;
    display: block;
    margin-top: 20px;
    margin-left: 64px;
    text-align: left;
}
.login-out .logo-sub {
    position: absolute;
    left: 0;top: 60px;
    z-index: 2;
    display: block;
    margin-left: 64px;
}
.login-in {
    position: absolute;
    top: 50%;
    right: 120px;
    width: 392px;
    height: 480px;
    margin-top: -240px;
    padding: 45px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow:0 5px 10px #dbe0e9;
}
.login-in .container { width: 100%}
.login-form {
    margin: 0 auto;
    text-align: left;
}
.login-tit {
    font-size: 30px;
    line-height: 48px;
    color: #545454;
}
.login-desc {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #8f8f8f;
}
.login-form .item {
    position: relative;
    margin-bottom: 34px;
    padding-top: 22px;
    height: 32px;
    border-bottom: 1px solid #c5ced6;
}
.login-form .item:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 1px;
    width: 0;
    -webkit-transition: all .42s  ease-out;
    -moz-transition: all .42s  ease-out;
    -ms-transition: all .42s  ease-out;
    -o-transition: all .42s  ease-out;
    transition: all .42s  ease-out;
    background-color: #497ac4
}
.login-form .item .lab-sub {
    position: absolute;
    left: 0;
    top: 27px;
    width: 100%;
    height: 22px;
    font-size:14px ;
    line-height: 22px;
    color: #c5ced6;
    pointer-events:none;
    -webkit-transition: all .42s  ease-out;
    -moz-transition: all .42s  ease-out;
    -ms-transition: all .42s  ease-out;
    -o-transition: all .42s  ease-out;
    transition: all .42s  ease-out;
}

.login-form .item input {
    width: 100%;
    height: 32px;
    padding: 0;
    color: #505b65;
    font-size: 14px;
    line-height: 32px;
}
.login-form .item .clear {
    position: absolute;
    top: 29px;
    right: 0;
    display: none;
    width: 18px;
    height: 18px;
    cursor: pointer;
    font-style: normal;
    font-size: 18px;
    color: #999;
    font-family: "iconfont" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.login-form .item .clear:before { content: "\e625"; }
.login-form .item .clear:hover { color: #008dff; }
.login-form .item .msg-box {
    position: absolute;
    bottom: -24px;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    padding: 2px 4px 2px 22px;
    color: #505b65;
    font-size: 12px;
    background-color: #fff;
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-transition: all .42s  ease-out;
    -moz-transition: all .42s  ease-out;
    -ms-transition: all .42s  ease-out;
    -o-transition: all .42s  ease-out;
    transition: all .42s  ease-out;
}
.login-form .item .msg-box .iconfont  {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    line-height: 20px;
}
.login-form .msg-box.error {
    white-space: nowrap;
    color: #ff5213;
}
.login-form .msg-box.success { color: #008dff; }
.login-form .item-error:after { background-color: #ef6b48; }
.login-form .item.item-focus .lab-sub {
    top:0;
}
.login-form .item.item-error:after { width: 100%;  }
.login-form .item.item-error .msg-box {
    opacity: 1;
    filter: alpha(opacity=100);
}
.login-form .item.item-focus:after { width: 100%;  }
.login-form .item-change .clear {
    display: block;
}
.login-form .item-code {
    margin-bottom: 20px;
    white-space: nowrap;
    border-bottom: none;
    display: none;
}
.login-form .item-code > input {
    width: 224px;
    color: #505b65;
    font-size: 16px;
    border-bottom: 1px solid #c5ced6;
}
.login-form .item-code img {
    margin: 0 10px;
    height: 32px;
    width: 64px;
    cursor: pointer;
}
.login-form .item-code .change-code {
    margin-right: 10px;
    color: #4779c7;
    cursor: pointer;
}
.login-form .item-code .msg-box {
    position: static;
    display: inline-block;
    *display: inline;
    color: #505b65;
    font-size: 12px;
    zoom: 1;
}
.login-form .item-code.item-error > input {
    border-color: #ef6b48;
}
.login-form .item-code.item-focus > input {
    border-color: #497ac4;
}

/*.login-form .actions {*/
/*padding: 20px 0 39px;*/
/*}*/
/*.login-form .actions .checkbox {*/
/*margin: 0 3px 0 0;*/
/*padding: 0;*/
/*outline: rgb(109, 109, 109) none 0;*/
/*vertical-align: middle \9;*/
/*vertical-align: -2px;*/
/*}*/
/*.login-form .actions .checkbox > em {*/
/*height: 20px;*/
/*color: #505b65;*/
/*line-height: 20px;*/
/*}*/

/*.login-form .fgpsd {*/
/*float: right;*/
/*color: #008dff;*/
/*}*/
.login-form .btn-primary {
    padding: 15px 15px;
    width: 100%;
    font-size: 16px;
    border-radius: 2px;
}

/*okr地图*/
.maps-list {
    white-space: nowrap;
}

.maps-list>li {
    position: relative;
    opacity: 0;
    width: 350px;
    margin-left: -350px;
    margin-right: -4px;
    padding-bottom: 15px;
    vertical-align: top;
    white-space: normal;
    background-color: #fff;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.maps-list>li.active ,
.maps-list>li:first-child {
    display: inline-block;
    margin-left: 0;
    opacity: 1;
}
.maps-list>li:first-child { z-index: 16!important;}
.maps-item {
    padding: 0 30px 0;
    margin-top: 15px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.maps-item .box-ct {
    padding: 0 0 12px 14px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
}
.box-ct .box-ct-con {
    position: relative;
    height: 70px;
    padding:14px 82px 0 0 ;
}
.box-ct .box-ct-con .area-charts {
    width: 82px;
    height: 82px;
}
.box-ct .box-ct-con .area-charts .charts-total {
    margin: -18px 0 0 -18px;
    width: 36px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
}
.box-ct .box-ct-con h3 {
    height: 48px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #212121;
}
.box-ct .box-ct-foot {
    padding-right: 5px;
    height: 24px;
}
.box-ct .box-ct-foot .txt-all { font-size: 14px; }
.maps-item .box-cb {
    display: none;
    padding: 4px 14px 0;
}
.maps-item .box-cb p {
    position: relative;
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 28px;
    color: #707070;
}
.maps-item .box-cb p:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 6px;
    height: 6px;
    background-color: #cbcbcb;
}
.maps-item.active {
    position: relative;
    z-index: 3;
    padding-bottom: 15px;
    padding-right: 50px;
    margin-right: -20px;
}
.maps-list>li.active,
.maps-list .maps-item.active,
.maps-list .maps-item.active .box-ct ,
.maps-list .maps-item.active .charts-total,
.maps-list>li.active:nth-child(2n+1) .active{ background-color: #eaf6ff; }
.maps-list>li .maps-item.notchild,
.maps-list>li:last-child  .maps-item.active {
    padding-right: 30px;
    margin-right: 0;
}
.maps-list>li.active { box-shadow: 0 0 30px #ebecf0 inset; }
.maps-list>li.active .maps-item {
    padding-left: 0;
    margin-left: 30px;
}

.maps-list>li.active:nth-child(2n) .maps-item.active ,
.maps-list>li.active:nth-child(2n) .active .box-ct,
.maps-list>li.active:nth-child(2n) .active .charts-total,
.maps-list>li.active:nth-child(2n+1) { background-color: #fff7e8; }
.maps-list>li.active:nth-child(2n) .active .box-ct  {
    border-color: #fff7e8  #fff7e8 #e0e0e0 #fff7e8;
}

.maps-list>li.active:nth-child(2n+1) .active .box-ct,
.maps-list .maps-item.active .box-ct {
    border-color: #eaf6ff  #eaf6ff #e0e0e0 #eaf6ff;
    border-bottom-style: dashed;
}
.maps-list>li.active,
.maps-list .maps-item.active,
.maps-list .maps-item.active .box-ct ,
.maps-list .maps-item.active .charts-total{ background-color: #eaf6ff; }



@-webkit-keyframes scaleForEver {
    0% {
        transform: scale(.6);
        -webkit-transform: scale(.6);
        opacity: .1;
    }
    70% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: .06;
    }
    100% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes scaleForEver {
    0% {
        transform: scale(.6);
        -webkit-transform: scale(.6);
        opacity: .1;
    }
    70% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: .06;
    }
    100% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}


@-webkit-keyframes scaleForEver2 {
    0% {
        transform: scale(.8);
        -webkit-transform: scale(.8);
        opacity: .4;
    }
    70% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: .2;
    }
    100% {
        transform: scale(1.6);
        -webkit-transform: scale(1.6);
        opacity: 0;
    }
}

@keyframes scaleForEver2 {
    0% {
        transform: scale(.8);
        -webkit-transform: scale(.8);
        opacity: .4;
    }
    70% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: .2;
    }
    100% {
        transform: scale(1.6);
        -webkit-transform: scale(1.6);
        opacity: 0;
    }
}